@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap");

body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    color: #1e3547;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    line-height: 1.4;
}

a {
    text-decoration: none !important;
    outline: none;
}

p {
    line-height: 1.7;
}
.f-17 {
    font-size: 17px;
}
.f-18 {
    font-size: 18px;
}

.f-20 {
    font-size: 20px;
}

.bg-light {
    background-color: #f0f9fa !important;
}
.btn {
    font-size: 15px;
    padding: 0.6rem 1.3rem;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-weight: 600;
}

.btn-primary {
    background: #309737 !important;
    border-color: #309737 !important;
}

.btn-soft-primary {
    background-color: #309737 !important;
    color: #fff !important;
}

.btn-soft-primary:hover,
.btn-soft-primary:focus,
.btn-soft-primary:active,
.btn-soft-primary.active,
.btn-soft-primary.focus,
.btn-soft-primary:not(:disabled):not(.disabled):active,
.btn-soft-primary:not(:disabled):not(.disabled):active:focus,
.btn-soft-primary .open>.dropdown-toggle.btn-primary {
    background: #309737;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

/* hero section */
.bg-home {
    position: relative;
    padding: 100px 0px 240px 0px;
    border-radius: 0px 0px 0px 450px;
}

.home-center {
    display: table;
    width: 100%;
    height: 100%;
}

.home-desc-center {
    display: table-cell;
    vertical-align: middle;
}

.home-content .home-title {
    font-size: 45px;
}

/* Service */
.title-box .title-heading {
    font-size: 30px;
}

/* Features */
.image-box img{
width: 350px;
}

/* About */
.crd{
    -webkit-box-shadow: 0px 5px 30px -10px rgb(0 0 0 / 10%);
    box-shadow: 0px 5px 30px -10px rgb(0 0 0 / 10%);
    border-radius: 20px;
    background: #fff;
    padding: 0.5rem;
}
.media-box{
    /* padding-right: 50px;
    padding: 13px 20px;
    border-radius: 10px;
    width: 125px;
    -webkit-box-shadow: 0px 5px 30px -10px rgb(0 0 0 / 10%);
    box-shadow: 0px 5px 30px -10px rgb(0 0 0 / 10%); */
    /* padding: 13px 20px;
    border-radius: 10px;
    width: 125px;
    background: #f0f9fa;
    height: 100%;
    line-height: 4;
    margin: 10px 0;
    text-align: center; */
    width: 55px;
    height: 55px;
    line-height: 60px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    background: #f0f9fa;
    margin: 1rem;
}



/* footer */
.bg-footer {
    border-radius: 450px 0px 0px 0px;
}
.team-social i {
    width: 38px;
    height: 38px;
    display: inline-block;
    line-height: 34px;
    background-color: #f0f9fa;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #dbf1f1;
    font-size: 16px;
}
.footer-link a {
    color: #828f99;
    line-height: 38px;
    font-size: 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}